@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your existing globals.css */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #2e86de;
  --rdp-background-color: #e7edff;
  margin: 1em;
}

.rdp-day_selected, 
.rdp-day_selected:focus-visible, 
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--rdp-background-color);
}
